<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
                <group id="paghiperpayment" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PagHiper Payment</label>
                    <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="merchant_email" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>E-mail</label>
                    </field>
                    <field id="trans_key" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Token</label>
                    </field>
                    <field id="api_key" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>ApiKey</label>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Título</label>
                    </field>
                    <field id="maturity_date" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Vencimento (De 1 à 7 dias)</label>
                    </field>
                    <field id="discount" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Desconto (%) - Ex.: 5.8</label>
                    </field>
                    <field id="discount_group" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Aplicar o desconto de cupom juntamente com o desconto do boleto</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
        </section>
    </system>
</config>
